body {
    font: $main-font;
    font-size: $main-font-size;
    background-color: #fae0df;
    margin: 0;
    border: 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 50px;
}

.box {
    width: 30px;
    height: 30px;

    @include roundCorners(20px);
}

.box2 { 
    width: 30px;
    height: 30px;

    @include roundCorners(50%);
}